body {
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  font-size:1rem;
  line-height:1.25;
  color:#222
}

code {
  background: #eee;
  padding: .25rem;
  border-radius: 4px;
  text-shadow: 1px 1px #fff;
}

.code-pre {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow-x: auto;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.table th,
.table td {
  padding: 1rem;
  border: 1px solid #ccc;
}

.table th {
  text-align: left;
}